openapi: 3.0.3
info:
  title: Roblox Open Cloud Assets Users API
  description: The Roblox Open Cloud API provides external programmatic access to Roblox platform resources. It enables server-side operations on experiences, places, data stores, memory stores, users, groups, assets, messaging, badges, game passes, and subscriptions. Authentication uses API keys scoped to specific resources. The API is organized into Open Cloud v2, v1, and Legacy tiers with consistent RESTful patterns.
  version: v2
  contact:
    name: Roblox Developer Relations
    url: https://devforum.roblox.com
  termsOfService: https://en.help.roblox.com/hc/en-us/articles/115004647846
  license:
    name: Proprietary
servers:
- url: https://apis.roblox.com
  description: Roblox Open Cloud API
tags:
- name: Users
  description: Roblox user information
paths:
  /cloud/v2/users/{userId}:
    get:
      operationId: getUser
      summary: Get User
      description: Retrieve information about a Roblox user by their user ID.
      tags:
      - Users
      security:
      - ApiKeyAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: The Roblox user ID
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /cloud/v2/users:
    get:
      operationId: listUsers
      summary: List Users
      description: List users by filter criteria.
      tags:
      - Users
      security:
      - ApiKeyAuth: []
      parameters:
      - name: filter
        in: query
        schema:
          type: string
        description: Filter expression for users
      - name: maxPageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    User:
      type: object
      properties:
        path:
          type: string
        createTime:
          type: string
          format: date-time
        id:
          type: string
        name:
          type: string
        displayName:
          type: string
        about:
          type: string
        locale:
          type: string
        premium:
          type: boolean
        idVerified:
          type: boolean
        socialNetworkProfiles:
          type: object
    UserList:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
        nextPageToken:
          type: string
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: array
          items:
            type: object
  responses:
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Roblox Open Cloud API key scoped to specific resources
